#topNav
{
    @include edge(0.5rem 0, 0);
    margin-top: 0;

    grid-area: topNav;

    position: relative;
    background: none;
    backdrop-filter: none;
}
#topNav_toggle
{
    display: none;
}
.topNav_item, .js .topNav_item
{
    @include softBox(0.015, 0.035);
}
%topNav_list-rows
{
    background: none;
    padding: 0;
    box-shadow: none;
    
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;

    border: none;
}
#topNav_list, #topNav_list.is-active
{
    @extend %topNav_list-rows;
}
.js
{
    #topNav_toggle
    {
        display: none;
    }
    #topNav_list, #topNav_list.is-active
    {
        @extend %topNav_list-rows;
    }
    .topNav_item
    {
        width: 7rem;
    }
}
@-moz-document url-prefix()
{
    #topNav
    {
        background: transparent;
    }
}