@charset "utf-8";
/* CSS Document */

.blog_banner
{
	margin: 0;
	margin-bottom: 0.5rem;
	padding: 0;
	flex-basis: 100%;
	background: var(--accent-secondary);
}
.blog_banner img
{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
.blog_banner figcaption
{
	text-align: center;
}
.card
{
	margin-bottom: 1rem;
}
h2, h3
{
	margin-bottom: 1rem;
}

#nav_recentPosts
{
	flex-basis: 100%;
	margin: 1rem;
	padding: 0;
}
#nav_recentPosts_list
{
	margin: 0;
	padding: 0;
	
	list-style: none;
	display: flex;
	justify-content: center;
}
.nav_recentPosts_item
{
	text-decoration: none;
	margin: 0 0.25rem;
}
.nav_recentPosts_item a
{
	text-align: center;
	text-decoration: none;
	color: var(--bright-primary);
	text-shadow: 0 0 0.25rem var(--accent-primary);
	font-size: 1.1rem;
	padding: 0.5rem 2rem;
	background: var(--accent-secondary);
}
.nav_recentPosts_item a:hover
{
	text-shadow: 0 0 0.25rem var(--bright-secondary);
	background: var(--accent-primary);
}
#active_recentPostSet, #active_recentPostSet a
{
	background: var(--dark-primary);
	color: var(--bright-secondary);
}

#nav_recent
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#nav_recent button
{
	display: block;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 3.0rem;
	text-align: center;
	
	border-radius: 5px;
	
	margin: 0.25rem;
	padding: 0.25rem 5%;
	
	border: none;
	background: linear-gradient(
		hsla(0, 0%, 100%, 0.15) 0%,
		hsla(0, 0%, 0%, 0.015) 5%,
		hsla(0, 0%, 0%, 0.015) 95%,
		hsla(0, 0%, 0%, 0.035) 100%),
	linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0.15) 0%,
		hsla(0, 0%, 0%, 0.015) 2.5%,
		hsla(0, 0%, 0%, 0.015) 97.5%,
		hsla(0, 0%, 0%, 0.035) 100%);
	
	box-shadow: 0.5px 0.5px 0.5px 0.5px hsla(0, 0%, 0%, 0.1);
	
	transition: 0.1s;
}
#nav_recent button:enabled:hover
{
	background: linear-gradient(
		hsla(0, 0%, 100%, 0.15) 0%,
		hsla(0, 0%, 0%, 0.015) 5%,
		hsla(0, 0%, 0%, 0.015) 95%,
		hsla(0, 0%, 0%, 0.035) 100%),
	linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0.15) 0%,
		hsla(0, 0%, 0%, 0.015) 2.5%,
		hsla(0, 0%, 0%, 0.015) 97.5%,
		hsla(0, 0%, 0%, 0.035) 100%);
	
	box-shadow: 0px 0px 1px 1px hsla(0, 0%, 0%, 0.1);
}
@media only screen and (max-width: 666px)
{
	.content
	{
		flex-basis: 100%;
		border-left: 5px groove var(--accent-primary);
		padding-left: 1rem;
	}
}
@media only screen and (min-width: 667px)
{
	.card
	{
		justify-content: center;
		align-items: center;
	}
	.blog_banner
	{
		flex-basis: 40%;
		flex-grow: 1;
		margin-bottom: 0;
	}
	.content
	{
		flex-basis: 40%;
		flex-shrink: 1;
		padding-left: 1rem;
	}
}

#page_teaser
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 0.5rem;
	
	padding-bottom: 0.5rem;
}
.page_teaser
{
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	
	border-radius: 0.5rem;
	background: linear-gradient(
		hsla(0, 0%, 100%, 0.15) 0%,
		hsla(0, 0%, 0%, 0.015) 5%,
		hsla(0, 0%, 0%, 0.015) 95%,
		hsla(0, 0%, 0%, 0.035) 100%),
	linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0.15) 0%,
		hsla(0, 0%, 0%, 0.015) 2.5%,
		hsla(0, 0%, 0%, 0.015) 97.5%,
		hsla(0, 0%, 0%, 0.035) 100%);
	box-shadow: 1px 1px 1px 1px hsla(0, 0%, 0%, 0.1);
	
	padding: 0.5rem 1rem;
}
h2
{
	flex-basis: 33%;
	
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	text-align: center;
	
	color: hsla(0, 0%, 0%, 0.85);
	text-shadow: 1.0px 1.0px 1px white;
	
	margin: 0 0 0 0;
	padding: 0.5rem;
}
.page_teaser_tagline
{
	font-size: 1.25rem;
	font-weight: bolder;
	font-variant-caps: small-caps;
	letter-spacing: 0.05rem;
	text-align: center;
	
	color: hsla(0, 0%, 0%, 0.85);
	text-shadow: 1.0px 1.0px 1px white;
	
	border: none;
	margin: 0;
	padding: 0 0 0.5rem 0;
}

.posts_section
{
	padding: 0.75rem 0 0.5rem 0;
	
	background: linear-gradient(
		hsla(0, 0%, 0%, 0) 0%,
		var(--shade-primary) 0.25rem,  
		var(--shade-secondary) 0.75rem,
		hsla(0, 0%, 0%, 0) 1.75rem,
		hsla(0, 0%, 0%, 0) 100%
	);
	background-position: top 0;
	background-origin: border-box;
}
.posts_section h2
{
	text-align: left;
	margin: 0;
	margin-bottom: 0.75rem;
	padding: 0;
	padding-left: 0.75rem;
}