@charset "utf-8";
/* CSS Document */

.card
{
	padding: 0.25rem 0 0.5rem 0;
}
h3
{
	margin-bottom: 0;
}
.design_gallery
{
	
}
.design_gallery figure
{
	margin: 0;
	flex-basis: 25%;
	flex-grow: 1;
	text-align: center;
}
.design_gallery img
{
	width: 100%;
}
.CC_preview
{
	max-width: 475px;
}
.to_web_design
{
	color: var(--bright-primary);
	text-align: center;
}
.to_web_design a
{
	font-size: 1.1rem;
	padding: 1rem;
	background: var(--accent-primary);
	color: var(--bright-primary);
}
.to_web_design a:hover
{
	text-shadow: 0 0 0.4rem var(--bright-secondary);
}
#programming .card, #web_design .card
{
	flex-basis: 100%;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
}
#n-body-orbital-container
{
	margin: 0 auto;
	width: 100%;
	height: auto;
}
#n-body-orbital
{
	margin: 0 auto;
	width: 75vw;
	height: auto;
}
@media only screen and (min-width: 667px)
{
	h3
	{
		margin-bottom: 0.5rem;
	}
	.portfolio_category
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		
		flex-wrap: wrap;
	}
	.card
	{
		flex-basis: 49%;
		justify-content: space-between;
		justify-content: center;
		align-items: center;
	}
	.youtube_container
	{
		flex-grow: 1;
		margin: 0;
	}
	.content
	{
		flex-shrink: 1;
		padding-left: 1rem;
	}
	#programming .card, #web_design .card
	{
		flex-basis: 100%;
	}
	.design_gallery
	{	
		display: flex;
		flex-basis: 100%;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.design_gallery figure
	{
		flex-basis: 49%;
		flex-grow: grow;
	}
}