main
{
    @include flex(row);
    flex-basis: 0 1 100%;
}

h2
{
    padding-top: 0;
    text-align: left;
}
h3, h4, h5
{
    text-align: left;
    
    @include edge(0, 0 0.5rem);
	flex: 0 1 100%;
	
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	
	color: hsla(0, 0%, 0%, 0.85);
	text-shadow: 1.0px 1.0px 1px white;
}
ol
{
    @include edge(0);
    li
    {
        @include edge(1rem 0, 0);
    }
}
.blog_post
{
    flex: 0 1 100%;
    @include edge(0);

    h2
    {
        @include edge(0, 0 0.5rem);
        text-align: left;

    }
    figure
    {
        margin: 0 auto;
        max-width: 450px;
        flex: 0 1 100%;
        align-content: center;
        img
        {
            max-width: 100%;
        }
    }
    
}

.blog-post__preview
{
    flex: 0 1 100%;
    @include edge(0);

    h2
    {
        @include edge(0, 0 0.5rem 0.5rem 0.5rem);
        text-align: left;

    }
    
    @include edge(0.5rem, 0);
    &:first-child
    {
        @include edge(0 0.5rem 0.75rem 0.5rem, 0);
    }
    &:last-child
    {
        @include edge(0.75rem 0.5rem 0 0.5rem, 0);
    }
    &:only-child
    {
        @include edge(0 0.5rem, 0);
    }
}
.date_published
{
    @include edge(0, 0.5rem 0.5rem 0 0.5rem);
    color: $heading-color-secondary;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}
.post_closer
{
    @include edge(1rem 0, 0.5rem, none, 1rem 2.5rem 1rem 2.5rem);
    @include flex(row, space-between, center);
    @include softBox(0.045, 0.045);
    figure
    {
        min-width: 48px;
        max-width: 64px;
        img
        {
            @include edge(0, 0, none, 4rem 4rem 10rem 10rem);
            box-shadow: -0.5px -0.5px 1px 1px white, 1px 2px 1px 1px black;
        }
        flex: 1 0 15%;
    }
    p
    {
        align-self: center;
        text-align: center;
        flex: 1 0 50%;
        text-shadow: 1px 1px 1px white;
    }
}
.content_paragraph
{
    @include edge(0.5rem 0 1rem 0, 0);
    p
    {
        @include edge(0.75rem 0.5rem, 0);
        line-height: 1.75rem;
        &:first-child
        {
            @include edge(0 0.5rem 0.75rem 0.5rem, 0);
        }
        &:last-child
        {
            @include edge(0.75rem 0.5rem 0 0.5rem, 0);
        }
        &:only-child
        {
            @include edge(0 0.5rem, 0);
        }
    }
}
.blog_summary
{
    @include flex(row, flex-start, flex-start);
    align-content: flex-start;
    flex-basis: 0 1 100%;
    .date_published
    {
        flex: 0 1 100%;
        align-self: flex-start;
        font-size: 0.8rem;
    }
    h3
    {
        flex: 0 1 100%;
        align-self: flex-start;
        font-size: 1.4rem;
    }
    .summary
    {
        flex: 0 1 100%;
    }
    .to_blog
    {
        flex: 0 1 100%;
        text-align: right;
        align-self: flex-end;
    }
}