@mixin edge($margin-all, $padding-all:$margin-all, $border:false, $border-radius:false)
{
    /* Spacing & Border */
    margin: $margin-all;
    padding: $padding-all;
    @if $border
    {
        border: $border;
    }
    @if $border-radius
    {
        border-radius: $border-radius;
    }
    /* */
}
@mixin flex($flex-direction, $justify-content:false, $align-items:false, $flex-wrap:true)
{
    display: flex;
    flex-direction: $flex-direction;
    @if $justify-content
    {
        justify-content: $justify-content;
    }
    @if $align-items
    {
        align-items: $align-items;
    }
    @if $flex-wrap
    {
        flex-wrap: wrap;
    }
}

@mixin heading($font-size, $text-align, $color, $text-shadow:false)
{
    font-size: $font-size;
    line-height: $font-size;

    text-align: $text-align;
    color: $color;
    @if $text-shadow
    {
        text-shadow: 0 ($text-shadow / 24.0) ($text-shadow / 19.2) $bright-primary;
    }
}
@mixin softBox($lighter, $darker, $more:false)
{
    @if $more
    {
        background: linear-gradient(
            hsla(0, 0%, 90%, 0.4), 
            hsla(0, 0%, 70%, 0.6)),
        linear-gradient(
             hsla(0, 0%, 100%, $lighter*10) 0%,
             hsla(0, 0%, 0%, $lighter) 5%,
             hsla(0, 0%, 0%, $lighter) 95%,
             hsla(0, 0%, 0%, $darker) 100%),
         linear-gradient(
             90deg,
             hsla(0, 0%, 100%, $lighter*10) 0%,
             hsla(0, 0%, 0%, $lighter) 2.5%,
             hsla(0, 0%, 0%, $lighter) 97.5%,
             hsla(0, 0%, 0%, $darker) 100%);
    }@else
    {
        background:
        linear-gradient(
             hsla(0, 0%, 100%, $lighter*10) 0%,
             hsla(0, 0%, 0%, $lighter) 5%,
             hsla(0, 0%, 0%, $lighter) 95%,
             hsla(0, 0%, 0%, $darker) 100%),
         linear-gradient(
             90deg,
             hsla(0, 0%, 100%, $lighter*10) 0%,
             hsla(0, 0%, 0%, $lighter) 2.5%,
             hsla(0, 0%, 0%, $lighter) 97.5%,
             hsla(0, 0%, 0%, $darker) 100%);
    }
}