@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Raleway&display=swap");
@use 'header';
html {
  /* Spacing & Border */
  margin: 0 auto;
  padding: 0;
  /* */
  max-width: 1024px;
}

body {
  /* Spacing & Border */
  margin: 0;
  padding: 0.5rem;
  /* */
  padding-bottom: 2.55rem;
  background: rgba(0, 0, 0, 0.075);
  font-family: "Raleway", Arial, "sans-serif";
}

h1, h2, h3, nav li, button {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

h2, h3, h4 {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  /* */
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding-bottom: 0.25rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

p {
  line-height: 1.3rem;
  padding-bottom: 5rem;
}

main {
  border-top: 1rem groove rgba(9, 64, 109, 0.9);
}

button {
  border-radius: 1rem;
  background: var(--bright-primary);
  border: 2px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.45);
}

/******************************************************************************
 ** Dashboard *****************************************************************
 *****************************************************************************/
#admin_page_label {
  display: block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: left;
}

.manager_preview {
  /* Spacing & Border */
  margin: 1rem;
  padding: 1rem;
  /* */
  border: 3px solid rgba(9, 64, 109, 0.45);
  border-radius: 1rem;
}

.manager_preview table {
  margin: 0 auto;
}

.manager_preview table tr {
  border: 1px solid rgba(9, 64, 109, 0.45);
}

.manager_preview table tr td:first-child {
  width: 16rem;
  text-align: left;
}

table {
  /* Spacing & Border */
  margin: 1rem;
  padding: 1rem;
  /* */
  border: 2px solid rgba(9, 64, 109, 0.45);
  border-radius: 1rem;
}

table tr td {
  text-align: center;
  font-size: 1.1rem;
}

table tr td:first-child {
  text-decoration: underline;
}

.manager_control_center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.manager_control_center button {
  /* Spacing & Border */
  margin: 0.5rem;
  padding: 1rem 2rem;
  /* */
}

.manager_control_center h3 {
  width: 100%;
}

.to_manager {
  /* Spacing & Border */
  margin: 2rem;
  padding: 0;
  /* */
  text-align: center;
  font-size: 1.3rem;
  border: 2px groove rgba(9, 64, 109, 0.9);
  border-radius: 1rem;
}

.to_manager a {
  /* Spacing & Border */
  margin: 0;
  padding: 1rem 2rem;
  /* */
  display: block;
  text-decoration: none;
  line-height: 1.3rem;
}

.to_manager a:hover {
  background: rgba(9, 64, 109, 0.45);
  border-radius: 1rem;
}

/******************************************************************************
 ** Category Manager **********************************************************
 *****************************************************************************/
.action {
  /* Spacing & Border */
  margin: 1rem 0;
  padding: 1rem 0;
  /* */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.action form {
  /* Spacing & Border */
  margin: 1rem;
  padding: 1rem;
  /* */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 0.25rem solid rgba(9, 64, 109, 0.45);
  border-radius: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.action form input {
  /* Spacing & Border */
  margin: 0.5rem;
  padding: 0.5rem 0 0.5rem 0.25rem;
  /* */
}

.action form button {
  /* Spacing & Border */
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  /* */
}

.categories, .tags {
  /* Spacing & Border */
  margin: 0 auto;
  padding: 1rem;
  /* */
  border: 0.25rem solid rgba(9, 64, 109, 0.45);
  border-radius: 1rem;
}

.indices {
  width: 4rem;
}

.names {
  width: 16rem;
}
/*# sourceMappingURL=admin.css.map */