@import 'var';
@import 'mixins';

@use 'header';

html
{
    @include edge(0 auto, 0);
    max-width: 1024px;
}
body
{
    @include edge(0, $default-padding);
    padding-bottom: 2.55rem;

    background: $background-color;

    font-family: $body-family;
}
h1, h2, h3, nav li, button
{
    font-family: $heading-family;
    font-weight: $heading-weight;
}

h2, h3, h4
{
    @include edge(0);
	flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
}
h2
{
	font-size: $h2-height;
    line-height: $h2-height;
    
    letter-spacing: 0.05rem;

	padding-bottom: 0.5rem;
}
h3
{
	font-size: $h3-height;
	line-height: $h3-height;
	padding-bottom: 0.25rem;
}
h4
{
	font-size: $h4-height;
	line-height: $h4-height;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
p
{
    line-height: 1.3rem;

    padding-bottom: 5rem;
}

main
{
    border-top: 1rem groove $accent_primary;
}

button
{
    border-radius: 1rem;
    background: $button-background-default;
    border: 2px solid $button-border-default;

    cursor: pointer;

    font-size: 1.2rem;

    &:hover
    {
        background: $button-background-hover;
        border: 2px solid $button-border-highlight;
    }
}
/******************************************************************************
 ** Dashboard *****************************************************************
 *****************************************************************************/
#admin_page_label
{
    display: block;
    flex-basis: 100%;
    flex-grow: 0;
    text-align: left;
}
.manager_preview
{
    @include edge(1rem, 1rem);
    
    border: 3px solid $accent_secondary;
    border-radius: 1rem;

    table
    {
        margin: 0 auto;

        tr
        {
            border: 1px solid $accent_secondary;
            td
            {
                &:first-child
                {
                    width: 16rem;
                    text-align: left;
                }
            }
        }
    }
}
table
{
    @include edge(1rem, 1rem);

    border: 2px solid $accent_secondary;
    border-radius: 1rem;

    tr
    {
        td
        {
            text-align: center;
            font-size: 1.1rem;

            
            &:first-child
            {
                text-decoration: underline;
            }
        }
    }
}

.manager_control_center
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    button
    {
        @include edge(0.5rem, 1rem 2rem);
    }
    h3
    {
        width: 100%;
    }
}
.to_manager
{
    @include edge(2rem, 0);
    text-align: center;
    font-size: 1.3rem;
    border: 2px groove $accent_primary;
    border-radius: 1rem;

    a
    {
        @include edge(0, 1rem 2rem);
        display: block;
        text-decoration: none;
        line-height: 1.3rem;
        &:hover
        {
            background: $accent_secondary;
            border-radius: 1rem;
        }
    }
}

/******************************************************************************
 ** Category Manager **********************************************************
 *****************************************************************************/
.action
{
    @include edge(1rem 0);
    @include flex(row, center, center);

    form
    {
        @include edge(1rem, 1rem);
        @include flex(row, center, center);

        border: 0.25rem solid $accent_secondary;
        border-radius: 1rem;

        flex-basis: 100%;
        input
        {
            @include edge(0.5rem, 0.5rem 0 0.5rem 0.25rem);
        }
        button
        {
            @include edge(0.5rem, 0.5rem 1rem);
        }
    }
}
.categories, .tags
{
    @include edge(0 auto, 1rem);

    border: 0.25rem solid $accent_secondary;
    border-radius: 1rem;
}
.indices
{
    width: 4rem;
}
.names
{
    width: 16rem;
}