.page_preview
{
    @include flex(row, center, flex-start, none);
    .home_card
    {
        @include flex(row);
        flex: 0 1 100%;
        height: 100%;
    }
    .description
    {
        flex: 1 0 70%;
    }
    .tiles
    {
        flex: 1 0 30%;
    }
}
#featured_projects
{
    .home_card
    {
        flex: 0 1 100%;
    }
}
#recent_posts
{
    .description
    {
        order: 1;
        flex: 1 0 30%;
    }
    .tiles
    {
        flex: 1 0 70%;
    }
}