/**
 * Default header specs:
 * --- Padding-top is 1rem to center h1 along logo.
 */
header
{
    @include edge(0, 1rem 0 0 0);
    @include flex(row);
}

.public_header
{
    @include edge(0, 1rem 0 0 0);
    @include flex(row);
}
.public_header__grid
{
    display: grid;
    grid-template-areas:
        "public_h1";
}
.logo
{
    opacity: 20%;
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 1.5rem;
    left: calc(50% - 3rem);
    z-index: -1;
    background-image: url("../../../media/logo/renegade-basic.svg");
    background-origin: content-box;
    background-repeat: no-repeat;
}